* {
  margin: 0;
  color: rgba(87, 38, 55, 1);
}

:root {
  --title-color: rgba(117, 40, 8, 1);
  --hero-background: rgba(248, 184, 157, 1);
  --about-background: rgba(186, 90, 49, 1);
  --circle-1: rgba(228, 197, 116, 1);
  --card-background: rgba(252, 243, 230, 1);
  --journey-background: rgba(0, 149, 148, 1);
}

body, button, input, .ant-typography, .ant-btn, .ant-btn span {
  font-family: 'Fredoka', sans-serif;
}

.heroContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--hero-background);
}

.navBar {
  height: 12vh;
}

.navbarButton {
  font-weight: 500;
  font-style: medium;
  /* font-size: 22px; */
  font-size: 1.123vw;
  width: 200px;
}

.homeBgd {
  height: 85%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

h1 {
  color: var(--title-color);
  font-weight: 700;
  font-style: bold;
  /* font-size: 92px; */
  font-size: 4.492vw;
}

p {
  font-weight: 400;
  font-style: normal;
  /* font-size: 27px; */
  font-size: 1.318vw;
  white-space: pre-line;
}

.hero {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.mountainBack {
  min-height: auto;
  width: 100%;
  position: absolute;
  display: block;
  object-fit: cover;
  /* padding-top: 20%; */
}

.mountainFront {
  height: auto;
  width: 100%;
  position: absolute;
  top: 20%;
}

.heroSun {
  width: 10%;
  position: absolute;
  right: 6%;
  transition: transform 0.50s ease;
}

.heroSun:hover {
  transform: rotate(180deg);
}

.heroLlama {
  width: 10%;
  position:absolute;
  bottom: 3.5%;
  right: 5%;
}

.heroText {
  position: absolute;
  top: 4%;
  left: 6%;
}

.splitter {
  height: 20vh;
  background: var(--about-background);
}

.splitterContent {
  width: 100%;
  justify-content: space-around;
}

.aboutContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.aboutContent {
  height: 75vh;
  background: var(--about-background);
  display: flex;
  position: relative;
}

.sunContainer {
  width: 17.5%;
  display: flex;
  justify-content: space-around;
}

.aboutSun {
  width: 2.5vw;
}

.aboutCardContainer {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: forestgreen; */
  position: relative;
}

.aboutPhoto {
  width: 25%;
  position: absolute;
  top: 3%;
  left: -5%;
  border-radius: 50%;
  border: 11px solid var(--circle-1);
}

.aboutCard {
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--card-background);
  border-radius: 60px;
}

.aboutTitle {
  /* font-size: 38px; */
  /* font-size: 1.953vw; */
  /* font-size: clamp(2.375rem, 2.2915rem + 0.1303vw, 2.5rem); */
  font-size: clamp(2.8125rem, 2.8706rem + -0.3097vw, 2.375rem);
  padding-left: 26%;
}

.aboutDesc {
  font-weight: 500;
  font-style: medium;
  /* font-size: 23px; */
  /* font-size: 1.123vw; */
  font-size: clamp(1.125rem, 1.0835rem + 0.2212vw, 1.4375rem);
  padding-left: 26%;
  padding-right: 7%;
}

.aboutCardBottom {
  width: 50vw;
}

.aboutFooter {
  position: relative;
  flex: 1;
  background: var(--journey-background);
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50vw 25vh 50vw;
  border-color: transparent transparent var(--about-background) transparent;
  transform: rotateX(180deg);
}

.contactContainer {
  height: 100vh;
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formContainer {
  flex: 1;
  width: 60%;
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.formField {
  height: 75px;
  background-color: white;
  border-radius: 80px;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

label { 
  /* color: green; */
  font-weight: 600;
  font-size: 15px;
}

input, textarea {
  background-color: transparent;
  border: none;
}

form button {
  width: 200px;
  height: 85px;
  color: white;
  background: rgba(19, 147, 168, 1);
  border: none;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
}

form button:hover {
  border: 5px solid var(--circle-1);
  cursor: pointer;
}

form button:disabled {
  background: gray;
}

form button:disabled:hover {
  border: none;
  cursor: not-allowed;
}

.footer {
  height: 12vh;
  background: var(--about-background);
}

.iconSocial {
  color: white !important;
}

.footerIcon {
  color: white !important;
}

.footerText {
  /* color: white; */
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 72px;
  }

  p {
    font-size: 15px;
  }

  .heroText {
    position: absolute;
    top: -3%;
    left: 10%;
  }

  .sunContainer {
    justify-content: center;
  }

  .aboutPhoto {
    width: 35%;
    top: 5%;
    left: 30%;
  }

  .aboutCard {
    height: 75%;
    justify-content: end;
  }

  .aboutTitle {
    /* font-size: 45px;
    font-size: 2.197vw; */
    padding: 0 15% 20;
  }

  .aboutDesc {
    font-weight: 500;
    font-style: medium;
    /* font-size: 17px;
    font-size: 0.83vw; */
    padding: 0 15% 65;
  }

}

/* PHONE */
@media (max-width: 767px) {
  h1 {
    font-size: 52px;
  }

  p {
    font-size: 15px;
  }

  .heroText {
    position: absolute;
    top: -3%;
    left: 20%;
  }

  .splitter {
    height: 15vh;
  }

  .aboutContent {
    height: 85vh;
}

  .sunContainer {
    justify-content: center;
  }

  .aboutPhoto {
    width: 40%;
    top: 5%;
    left: 28%;
  }

  .aboutCard {
    height: 75%;
    justify-content: end;
  }

  .aboutTitle {
    /* font-size: 45px;
    font-size: 2.197vw; */
    padding: 0 15% 20;
  }

  .aboutDesc {
    font-weight: 500;
    font-style: medium;
    /* font-size: 18px; */
    /* font-size: 2.879vw; */
    /* font-size: clamp(1.125rem, 1.0969rem + 0.1499vw, 1.16875rem); */
    padding: 0 15% 65;
  }

  .triangle {
    border-width: 0 50vw 15vh 50vw;
  }
}