* {
  margin: 0;
}

:root {
  --text-color: rgba(87, 38, 55, 1);
  --title-color: rgba(117, 40, 8, 1);
  --hero-background: rgba(248, 184, 157, 1);
  --about-background: rgba(186, 90, 49, 1);
  --circle-1: rgba(228, 197, 116, 1);
  --projects-background: rgba(237, 132, 86, 1);
  --project-card-background: rgba(252, 243, 230, 1);
  --card-subtitle-color: rgba(139, 100, 83, 1);
  --card-background: rgba(252, 243, 230, 1);
  --journey-background: rgba(0, 149, 148, 1);
}

body,
button,
input,
textarea,
.ant-typography,
.ant-space,
.ant-btn,
.ant-btn span {
  font-family: 'Fredoka', sans-serif;
  color: var(--text-color);
}

h1 {
  color: var(--title-color);
  font-weight: 700;
  font-size: 92px;
}

h2 {
  font-weight: 700;
  font-size: 50px;
  color: white;
}

h3 {
  font-weight: 700;
  font-size: 20px;
}

p {
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
  white-space: pre-line;
}

/* NAVBAR */
.navBar {
  height: 12vh;
  /* min-height: 10vh; */
}

.navbarButton {
  font-weight: 500;
  font-style: medium;
  /* font-size: 22px; */
  font-size: 16.5pt;
  width: 200px;
}

/* HERO */
.heroContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--hero-background);
}

.homeBgd {
  height: 85%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.hero {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.mountainBack {
  min-height: auto;
  width: 100%;
  position: absolute;
  display: block;
  object-fit: cover;
  /* padding-top: 20%; */
}

.mountainFront {
  height: auto;
  width: 100%;
  position: absolute;
  top: 20%;
}

.heroSun {
  width: 10%;
  position: absolute;
  right: 6%;
  transition: transform 0.50s ease;
}

.heroSun:hover {
  transform: rotate(180deg);
}

.heroLlama {
  width: 10%;
  position: absolute;
  bottom: 3.5%;
  right: 5%;
}

.heroText {
  position: absolute;
  top: 4%;
  left: 6%;
}

.splitter {
  min-height: 20vh;
  background: var(--about-background);
}

.splitterContent {
  width: 100%;
  justify-content: space-around;
}

/* ABOUT CONTAINER */
.about {
  display: flex;
  flex-direction: column;
  background: var(--about-background);
}

.aboutWrapper {
  min-height: 75vh;
  display: flex;
}

.sunContainer {
  width: 22.5%;
  display: flex;
  justify-content: center;
}

.aboutSun {
  width: 3vw;
}

.aboutCardWrapper {
  padding: 5% 0;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: forestgreen; */
  position: relative;
  --photo-size: clamp(180px, 18vw, 300px);
}

.aboutCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--card-background);
  position: relative;
  border-radius: 60px;
}

.aboutAvatar {
  /* width: 25%; */
  width: var(--photo-size);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 11px solid var(--circle-1);
  transform: translate(-25%, -20%);
}

.aboutContent {
  /* padding: 50px 120px 50px 340px; */
  padding:
    clamp(50px, 3vw, 80px) clamp(20px, 6vw, 120px) clamp(50px, 3vw, 80px) clamp(190px, 16.5vw, 360px);
}

.aboutTitle {
  /* font-size: 38px; */
  color: var(--text-color);
  font-size: clamp(2.8125rem, 2.8706rem + -0.3097vw, 2.375rem);
}

.aboutDesc {
  font-weight: 500;
  font-style: medium;
  /* font-size: 23px; */
  font-size: clamp(1.125rem, 1.0835rem + 0.2212vw, 1.4375rem);
  text-align: justify;
  text-justify: inter-word;
}

.aboutCardBottom {
  /* width: 900px; */
  width: clamp(120px, calc(16.46px + 34.513vw), 900px);
}

.aboutCutout {
  position: relative;
  flex: 1;
  background: var(--journey-background);
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50vw 25vh 50vw;
  border-color: transparent transparent var(--about-background) transparent;
  transform: rotateX(180deg);
}
/* JOURNEY CONTAINER */
.journey {
  background: var(--journey-background);
}

.journeyHeader, .projectsHeader {
  /* background: green; */
  padding: 20px 200px
}

.journeyWrapper {
  /* background-color: firebrick; */
  position: relative;
  width: 100%;
  padding: 100px 0;
}

.journeyBackground {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.peruBackground,
.franceBackground {
  height: 100%;
  object-fit: cover;
}

.journeyCardWrapper {
  width: 65%;
  min-height: 200vh;
  margin: 0 auto;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0px calc(0.35 * 200px);
  justify-content: space-around;
  position: relative;
  z-index: 2;
  gap: 15vh;
}

.motion {
  display: flex;
}

.journeyCard {
  width: 720px;
  border-radius: 60px;
  background: var(--project-card-background);
  padding: 20px;
  box-shadow: 0px 4px 34px 0px rgba(110, 69, 69, 0.25);
  position: relative;
}

.journeyCard::after {
  content: "";
  display: table;
  clear: both;
}

.journeyContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.journeyAvatar {
  height: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 11px solid var(--circle-1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.motion.right {
  align-self: flex-end;
}

.motion.left {
  align-self: flex-start;
}

.journeyCard.right {
  align-self: end;
}

.journeyCard.right .journeyAvatar {
  right: calc(-0.35 * 200px);
}

.journeyCard.right .journeyContent {
  padding: 30px 190px 30px 40px;
}

.journeyCard.left .journeyAvatar {
  left: calc(-0.35 * 200px);
}

.journeyCard.left .journeyContent {
  padding: 30px 40px 30px 160px;
}

/* PROJECTS CONTAINER */
.projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--projects-background);
  justify-content: center;
}

/* .projectsContainer {
  max-height: 75%;
} */

.swiperContainer {
  background-color: rgba(75, 159, 172, 0.203);
  width: 90%;
  padding: 0% 5%;
  box-sizing: border-box;
}

.mySwiper {
  padding: 0% 5%;
  width: 100%;
}

.carousel-controls {
  width: 200px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.custom-prev,
.custom-next {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.custom-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-pagination .swiper-pagination-bullet {
  size: 70px;
  background-color: var(--project-card-background);
}

.mySwiper .swiper-slide {
  width: clamp(330px, 80%, 600px);
  height: clamp(230px, 50%, 300px);
}

.cardWrapper {
  /* min-height: 450px; */
  /* width: 500px; */
  width: clamp(330px, 80%, 600px);
  height: clamp(230px, 50%, 300px);
  border-radius: 60px;
  background: var(--project-card-background);
  /* box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.25); */
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

article .yearDescription {
  font-weight: 400;
  color: var(--card-subtitle-color);
}

article p {
  font-weight: 470;
  font-size: 17px;
}


/* CONTACT CONTAINER */
.contactContainer {
  height: 100vh;
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formContainer {
  flex: 1;
  width: 560px;
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

form {
  width: 100%;
  height: 70%;
  /* background-color: palegoldenrod; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.formTitle {
  color: var(--text-color);
}

form p {
  font-size: 15px;
  justify-self: center;
}

.formGrid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: green; */
  gap: 10px;
  grid-template-areas:
    "lastName firstName"
    "errorLastName errorFirstName"
    "email email"
    "errorEmail errorEmail"
    "message message"
    "errorMessage errorMessage";
  justify-content: space-between;
}

.formField {
  height: 75px;
  background-color: white;
  border-radius: 80px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.lastNameField {
  grid-area: lastName;
}

.errorLastName {
  grid-area: errorLastName;
}

.errorFirstName {
  grid-area: errorFirstName;
}

.firstNameField {
  grid-area: firstName;
}

.emailField {
  grid-area: email;
}

.errorEmail {
  grid-area: errorEmail;
}

.messageField {
  grid-area: message;
  height: 200px;
  border-radius: 50px;
  align-items: start;
  padding: 30px 50px;
}

textarea {
  field-sizing: content;
}

.errorMessage {
  grid-area: errorMessage;
}

label {
  width: 100%;
  font-weight: 600;
  font-size: 15px;
}

input,
textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 2px 0 0 var(--text-color);
}

form button {
  width: 200px;
  height: 85px;
  color: white;
  background: rgba(19, 147, 168, 1);
  border: none;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
}

form button:disabled {
  background: gray;
  cursor: default;
}

form button:disabled:hover {
  cursor: default;
  box-shadow: none;
}

form button:disabled:active {
  background-color: gray;
  cursor: default;
  box-shadow: none;
}

form button:hover {
  box-shadow: 0px 0px 5px rgb(7, 55, 63);
  cursor: pointer;
}

form button:active {
  background: rgb(14, 113, 129);
  box-shadow: 0px 0px 5px rgb(7, 55, 63);
}

/* FOOTER */
.footer {
  background: var(--about-background);
  padding: 20px;
}

.footerIcon,
.footerText {
  color: white;
  font-size: 20px;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    text-align: center;
  }

  p {
    font-size: 15px;
  }

  .heroText {
    position: absolute;
    top: -3%;
    left: 10%;
  }

  /* ABOUT CONTAINER */
  .aboutAvatar {
    left: 50%;
    transform: translate(-50%, -20%);
  }

  .aboutContent {
    padding: 210px 70px 90px;
  }

  .aboutTitle {
    /* font-size: 45px; */
  }

  .aboutDesc {
    /* font-size: 17px; */
  }

  /* JOURNEY CONTAINER */
  .journey, .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .journeyHeader, .projectsHeader {
    padding: 50px 0;
  }

  .journeyCard {
    width: 75vw;
  }

  .journeyContent, .yearDescription {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .journeyAvatar {
    height: 150px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .motion.right {
   align-self: center;
  }

  .motion.left {
    align-self: center;
  }

  .journeyCard.right .journeyContent, .journeyCard.left .journeyContent {
    padding: 95 30 30;
  }

  .journeyCard.left .journeyAvatar {
    left: 50%;
  }

  .journeyCardWrapper {
    gap: 150px;
  }
}

/* PHONE */
@media (max-width: 767px) {
  h1 {
    font-size: 52px;
  }

  h2 {
    text-align: center;
  }

  p {
    font-size: 15px;
  }

  .heroText {
    position: absolute;
    top: -3%;
    left: 20%;
  }

  .splitter {
    min-height: 15vh;
  }

  /* ABOUT CONTAINER */
  .mySwiper .swiper-slide {
    width: 100%;
  }

  .aboutWrapper {
    min-height: 85vh;
  }

  .aboutCardWrapper {
    width: auto;
    /* background-color: aqua; */
  }

  .sunContainer {
    width: 25%;
    display: flex;
    flex-direction: column;
  }

  .aboutCard {
    border-radius: 40px;
  }

  .aboutAvatar {
    left: 50%;
    transform: translate(-50%, -20%);
  }

  .aboutContent {
    padding: 210px 0px 30px;
  }

  .aboutTitle {
    /* font-size: 45px; */
    padding: 0 15% 20;
  }

  .aboutDesc {
    font-weight: 500;
    font-style: medium;
    /* font-size: 18px; */
    padding: 0 15% 65;
  }

  .triangle {
    border-width: 0 50vw 15vh 50vw;
  }

    /* JOURNEY CONTAINER */
  .journey {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .journeyHeader, .projectsHeader {
    padding: 50px 0;
  }

  .journeyCard {
    width: 75vw;
  }

  .journeyContent, .yearDescription {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .journeyAvatar {
    height: 150px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .motion.right {
   align-self: center;
  }

  .motion.left {
    align-self: center;
  }

  .journeyCard.right .journeyContent, .journeyCard.left .journeyContent {
    padding: 95 30 30;
  }

  .journeyCard.left .journeyAvatar {
    left: 50%;
  }

  .journeyCardWrapper {
    gap: 150px;
  }
}