* {
  margin: 0;
}

:root {
  --text-color: rgba(87, 38, 55, 1);
  --title-color: rgba(117, 40, 8, 1);
  --hero-background: rgba(248, 184, 157, 1);
  --about-background: rgba(186, 90, 49, 1);
  --circle-1: rgba(228, 197, 116, 1);
  --projects-background: rgba(237, 132, 86, 1);
  --project-card-background: rgba(252, 243, 230, 1);
  --card-subtitle-color: rgba(139, 100, 83, 1);
  --card-background: rgba(252, 243, 230, 1);
  --journey-background: rgba(0, 149, 148, 1);
}

body, button, input, textarea, .ant-typography, .ant-space, .ant-btn, .ant-btn span {
  font-family: 'Fredoka', sans-serif;
  color: var(--text-color);
}

.heroContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--hero-background);
}

.navBar {
  height: 12vh;
  /* min-height: 10vh; */
}

.navbarButton {
  font-weight: 500;
  font-style: medium;
  /* font-size: 22px; */
  font-size: 16.5pt;
  width: 200px;
}

.homeBgd {
  height: 85%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

h1 {
  color: var(--title-color);
  font-weight: 700;
  font-style: bold;
  font-size: 92px;
}

h2 {
  font-weight: 700;
  font-style: bold;
  font-size: 50px;
  color: white;
}

h3 {
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
}

p {
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
  white-space: pre-line;
}

.hero {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.mountainBack {
  min-height: auto;
  width: 100%;
  position: absolute;
  display: block;
  object-fit: cover;
  /* padding-top: 20%; */
}

.mountainFront {
  height: auto;
  width: 100%;
  position: absolute;
  top: 20%;
}

.heroSun {
  width: 10%;
  position: absolute;
  right: 6%;
  transition: transform 0.50s ease;
}

.heroSun:hover {
  transform: rotate(180deg);
}

.heroLlama {
  width: 10%;
  position:absolute;
  bottom: 3.5%;
  right: 5%;
}

.heroText {
  position: absolute;
  top: 4%;
  left: 6%;
}

.splitter {
  min-height: 20vh;
  background: var(--about-background);
}

.splitterContent {
  width: 100%;
  justify-content: space-around;
}

/* ABOUT CONTAINER */
.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--about-background);
}

.aboutWrapper {
  min-height: 75vh;
  display: flex;
}

.sunContainer {
  width: 22.5%;
  display: flex;
  justify-content: center;
}

.aboutSun {
  width: 3vw;
}

.aboutCardWrapper {
  padding: 5% 0;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: forestgreen; */
  position: relative;
  --photo-size: clamp(180px, 18vw, 300px);
}

.aboutCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--card-background);
  position: relative;
  border-radius: 60px;
}

.aboutAvatar {
  /* width: 25%; */
  width: var(--photo-size);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 11px solid var(--circle-1);
  transform: translate(-25%, -20%);
}

.aboutContent {
  /* padding: 50px 120px 50px 340px; */
  padding: 
    clamp(50px, 3vw, 80px)
    clamp(20px, 6vw, 120px)
    clamp(50px, 3vw, 80px)
    clamp(190px, 16.5vw, 360px);
}

.aboutTitle {
  /* font-size: 38px; */
  color: var(--text-color);
  font-size: clamp(2.8125rem, 2.8706rem + -0.3097vw, 2.375rem);
}

.aboutDesc {
  font-weight: 500;
  font-style: medium;
  /* font-size: 23px; */
  font-size: clamp(1.125rem, 1.0835rem + 0.2212vw, 1.4375rem);
  text-align: justify;
  text-justify: inter-word;
}

.aboutCardBottom {
  /* width: 900px; */
  width: clamp(120px, calc(16.46px + 34.513vw), 900px);
}

.aboutCutout {
  position: relative;
  flex: 1;
  background: var(--journey-background);
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50vw 25vh 50vw;
  border-color: transparent transparent var(--about-background) transparent;
  transform: rotateX(180deg);
}

/* PROJECTS CONTAINER */
.projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--projects-background);
  justify-content: center;
}

.projectsHeader {
  /* height: 130px; */
  height: 12vh;
  /* background: green; */
  display: flex;
  justify-content: start;
  align-items: end;
  padding-left: 200px;
}

.mySwiper {
  /* background-color: rgba(75, 159, 172, 0.203); */
  /* height: 70%; */
  width: 90%;
  display: flex;
  align-self: center;
  justify-content: center;
}

.cardWrapper {
  border-radius: 60px;
  background: var(--project-card-background);
  padding: 50px;
  min-height: 450px;
  width: 500px;
  box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

article .yearDescription {
  font-weight: 400;
  color: var(--card-subtitle-color);
}

article p {
  font-weight: 470;
  font-size: 17px;
}

/* JOURNEY CONTAINER */
.journey {
  min-height: 100vh;
  background: var(--journey-background);
}

.journeyCard {
  width: 700px;
  width: 35vw;
  border-radius: 60px;
  background: var(--project-card-background);
  padding: 20px;
  box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.25);
}

.journeyCard::after {
  content: "";
  display: table;
  clear: both;
}

.journeyContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.journeyAvatar {
  height: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 11px solid var(--circle-1);
}

.journeyCard.right .journeyAvatar {
  float: right;
  margin-right: -55px;
}

.journeyCard.right .journeyContent {
  padding: 30px 80px 30px 40px;
}

.journeyCard.left .journeyAvatar {
  float: left;
  margin-left: -55px;
}

.journeyCard.left .journeyContent {
  order: 2;
  padding: 30px 50px 30px 0px;
}

/* CONTACT CONTAINER */
.contactContainer {
  height: 100vh;
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formContainer {
  flex: 1;
  width: 560px;
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

form {
  width: 100%;
  height: 70%;
  /* background-color: palegoldenrod; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.formTitle {
  color: var(--text-color);
}

form p {
  font-size: 15px;
  justify-self: center;
}

.formGrid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: green; */
  gap: 10px;
  grid-template-areas: 
    "lastName firstName"
    "errorLastName errorFirstName"
    "email email"
    "errorEmail errorEmail"
    "message message"
    "errorMessage errorMessage";
  justify-content: space-between;
}

.formField {
  height: 75px;
  background-color: white;
  border-radius: 80px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.lastNameField {
  grid-area: lastName;
}

.errorLastName {
  grid-area: errorLastName;
}

.errorFirstName {
  grid-area: errorFirstName;
}

.firstNameField {
  grid-area: firstName;
}

.emailField {
  grid-area: email;
}

.errorEmail { 
  grid-area: errorEmail;
}

.messageField {
  grid-area: message;
  height: 200px;
  border-radius: 50px;
  align-items: start;
  padding: 30px 50px;
}

textarea {
  field-sizing: content;
}

.errorMessage {
  grid-area: errorMessage;
}

label { 
  width: 100%;
  font-weight: 600;
  font-size: 15px;
}

input, textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  resize: none;
}

input:focus, textarea:focus{
  outline: none;
  box-shadow: 0 2px 0 0 var(--text-color);
}

form button {
  width: 200px;
  height: 85px;
  color: white;
  background: rgba(19, 147, 168, 1);
  border: none;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
}

form button:disabled {
  background: gray;
  cursor: default;  
}

form button:disabled:hover {
  cursor: default;  
  box-shadow: none;
}

form button:disabled:active {
  background-color: gray;
  cursor: default;  
  box-shadow: none;
}

form button:hover {
  box-shadow: 0px 0px 5px rgb(7, 55, 63);
  cursor: pointer;
}

form button:active {
  background: rgb(14, 113, 129);
  box-shadow: 0px 0px 5px rgb(7, 55, 63);
}

/* FOOTER CONTAINER */
.footer {
  /* height: 10vh; */
  height: 80px;
  background: var(--about-background);
}

.footerIcon, .footerText {
  color: white;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 72px;
  }

  p {
    font-size: 15px;
  }

  .heroText {
    position: absolute;
    top: -3%;
    left: 10%;
  }

  .journey {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .journeyCard {
    width: 600px;
    width: 75vw;
    gap: 10px;
  }

  .journeyCard.right .journeyAvatar {
    order: 2;
    transform: translate(20%);
  }


/* ABOUT CONTAINER */
  .aboutAvatar {
    left: 50%;
    transform: translate(-50%, -20%);
}
  
  .aboutContent {
    padding: 210px 70px 90px;
  }
  
  .aboutTitle {
    /* font-size: 45px; */
  }

  .aboutDesc {
    /* font-size: 17px; */
  }
}

/* PHONE */
@media (max-width: 767px) {
  h1 {
    font-size: 52px;
  }

  p {
    font-size: 15px;
  }

  .heroText {
    position: absolute;
    top: -3%;
    left: 20%;
  }

  .splitter {
    min-height: 15vh;
  }

/* ABOUT CONTAINER */
  .aboutWrapper {
    min-height: 85vh;
  }
  
  .aboutCardWrapper {
    width: auto;
    /* background-color: aqua; */
  }

  .sunContainer {
    width: 25%;
    display: flex;
    flex-direction: column;
  }
  
  .aboutCard {
    border-radius: 40px;
  }
  
  .aboutAvatar {
      left: 50%;
      transform: translate(-50%, -20%);
  }
  
  .aboutContent {
    padding: 210px 0px 30px;
  }

  .aboutTitle {
    /* font-size: 45px; */
    padding: 0 15% 20;
  }

  .aboutDesc {
    font-weight: 500;
    font-style: medium;
    /* font-size: 18px; */
    padding: 0 15% 65;
  }

  .triangle {
    border-width: 0 50vw 15vh 50vw;
  }
}