*{
  margin: 0;
  color: rgba(87, 38, 55, 1);
}

body, .ant-typography, .ant-btn, .ant-btn span {
  font-family: 'Fredoka', sans-serif;
}

h1 {
  color: rgba(117, 40, 8, 1);
  font-weight: 700;
  font-style: bold;
  font-size: 92px;
}

p {
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.homeContainer {
  height: 100vh;
  width: 100%;
  background: rgba(248, 184, 157, 1);
}

.navBar {
  height: 15vh;
  padding: 0.5rem 10rem;
}

.navbarButton {
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
  width: 200px;
}